@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-poppins: var(--font-poppins);
	--color-red: #ff0000;
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
} */

* {
	scroll-behavior: smooth;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-poppins), sans-serif;
}

.container {
	@apply w-full lg:max-w-300 px-4 mx-auto;
}

button {
	@apply cursor-pointer;
}

.card {
	@apply p-5 bg-[#f9f9f999] border border-black/10;
	position: relative;
	border-radius: 15px;
}

.button {
	width: fit-content;
	height: 48px;
	padding: 0 30px;
	border-radius: 10px;
	line-height: 100%;
	color: var(--background);
	background-color: var(--color-red);
	box-shadow: 0px 5px 44px 0px #ff000080;
	width: 100%;
	margin: 0 auto;
}

@media (min-width: 640px) {
	.button {
		width: fit-content;
	}
}
